[submodule "profile"]
	path = profile
	url = https://github.com/fmway/profile
[submodule "coder"]
	path = coder
	url = git@github.com:fmway/coder
[submodule "BelajarJS"]
	path = BelajarJS
	url = git@github.com:fmway/BelajarJS.git
